module.exports = {
  port: process.env.PORT || 1337,
  environment: process.env.NODE_ENV || 'development'
};

module.exports.jwt = {
  secret: 'YOUR_SECRET'
};

module.exports.models = {
  migrate   : 'safe'
};

module.exports.connections = {
  mysqlLocal: {
    adapter : 'sails-mysql',
    user    : 'dock',
    password: '',
    host    : 'localhost',
    database: 'dock'
  }
};
